* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.custom-cursor {
  position: fixed;
  opacity: 0;
  pointer-events: none;
  cursor: none;
  mix-blend-mode: difference;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: #fff;
  transition: transform 350ms ease;
  transition-property: transform, opacity, height, width;
  transform: translate(-50%, -50%) translate3d(0, 0, 0);
  z-index: 9999;
}
.custom-cursor--big {
  width: 100px;
  height: 100px;

}
.custom-cursor--showing {
  opacity: 1;
}
.custom-cursor--select {
  width: 10px;
  border-radius: 0;
}